* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  flex-wrap: wrap;
  margin-left: 300px;
  min-width: 400px;
}

nav {
  position: fixed;
  min-height: 100vh;
  width: 290px;
  box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.02);
}

.introduction,
.about,
.work,
.links {
  padding: 40px 40px;
}

.introduction,
.links {
  position: fixed;
  max-width: 300px;
}

.links {
  bottom: 0;
}

.links-icon {
  margin: 10px 4px 0 0;
}

button {
  background-color: transparent;
  border: 1px solid black;
  cursor: auto;
  font-size: 16px;
  padding: 8px 20px;
}

.skill-button {
  margin: 20px 0 10px 0;
  padding: 6px 18px;
  font-size: 12px;
  border: none;
  background-color: black;
  color: white;
}

p {
  padding-top: 30px;
}

.about-text {
  max-width: 75%;
}

img {
  width: 20px;
  height: auto;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 40px;
}

.skills-box {
  align-content: flex-start;
  background-color: rgb(247, 247, 247);
  border-radius: 5px;
  padding: 20px;
  min-width: 160px;
  max-width: 280px;
}
